{
  "extends": ["airbnb", "airbnb-typescript", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-console": 0,
    "import/prefer-default-export": "warn"
  }
}
